<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>제출 완료 | IDIS</title>
    <link rel="icon" type="image/png" sizes="32x32"
        th:href="@{/image/favicon-32.png}" href="/image/favicon-32.png">
    <link rel="icon" type="image/png"
        th:href="@{/image/favicon.png}" href="/image/favicon.png">
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css">
    <link rel="stylesheet" th:href="@{/css/theme.css}" href="/css/theme.css">
    <link rel="stylesheet" th:href="@{/css/forms.css}" href="/css/forms.css">
</head>

<body class="app">
    <main class="center-block">
        <img class="mascot" th:src="@{/image/robot-thumbsup.png}" src="/image/robot-thumbsup.png" alt="">
        <div class="texts">
            <h1>응답이 제출되었습니다</h1>
            <p>
                참여해 주셔서 감사합니다.<br>
                <span th:if="${form.endAt != null}"
                    th:text="${#temporals.format(form.endAt, 'yyyy.MM.dd')} + ' 마감 전까지 수정할 수 있습니다.'">
                    마감 전까지 수정할 수 있습니다.
                </span>
                <span th:if="${form.endAt == null}">신청내역에서 언제든 수정할 수 있습니다.</span>
            </p>
        </div>
        <a class="btn-primary" th:href="@{/forms}" href="/forms">처음으로</a>
    </main>
</body>

</html>
